<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Squeakr</title>
	<meta name="description" content="Twitter Clone">
	<meta name="author" content="Farhan Khan">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>
<body>

	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-links">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">Squeakr</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar-links">
					{% block navigation %}{% endblock %}
				</div>
			</div>
		</nav>
	</header>

	{% block content %}{% endblock %}

	<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/custom.js"></script>
</body>
</html>