{% extends "template.html" %}

{% block navigation %}
<ul class="nav navbar-nav navbar-right">
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/users">Users</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}

	<div class="container-fluid text-center" id="main-block">
		<h1>Welcome to Squeakr!</h1>
		<p>squeak out your opinion</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-lg-8 col-sm-offset-2 col-lg-offset-2">
				{% if error_msg %}
					<div class="alert alert-danger">{{error_msg}}</div>
				{% endif %}
				{% if success_msg %}
					<div class="alert alert-info">{{success_msg}}</div>
				{% endif %}
			</div>
		</div>

		<div id="squeaks-list" class="row">
			{% for user in users %}
				<div class="post col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
						<div class="post-inner row">
							<div class="col-xs-10">
								<h3><span class="glyphicon glyphicon-user"></span> {{user['name']}}</h3>
							</div>
							<div class="col-xs-2">
								<button class="btn btn-primary btn-lg" onclick="follow_user({{user['id']}})">Follow</button>
							</div>
						</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- <div class="container text-center">
		<button class="btn btn-info">Load More</button>
	</div> -->

	<script>
		function follow_user(uid) {
			$.ajax({
				type:"POST",
				url:"/follow_user",
				data:{user_id:uid},
				success: function(response) {
					var resp = JSON.parse(response);
					console.log(resp);
					if (resp.result == 'pass') {
						window.location = window.location;
					} else {
						alert('Error: Unable to follow user!');
					}
				}
			});
			return false;
		}
	</script>

{% endblock %}