{% extends "template.html" %}

{% block navigation %}
<ul class="nav navbar-nav navbar-right">
	<li class="active"><a href="/">Home</a></li>
	<li><a href="/users">Users</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}

	<div class="container-fluid text-center" id="main-block">
		<h1>Welcome to Squeakr!</h1>
		<p>squeak out your opinion</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-lg-8 col-sm-offset-2 col-lg-offset-2">
				{% if error_msg %}
					<div class="alert alert-danger">{{error_msg}}</div>
				{% endif %}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-lg-8 col-sm-offset-2 col-lg-offset-2">
				{% if user_info %}
					<h2>{{user_info.name}}</h2>
				{% endif %}
			</div>
		</div>

		<div id="squeaks-list" class="row">
			{% for squeak in squeaks %}
				<div class="post col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
						<div class="post-inner">
							<h3><span class="glyphicon glyphicon-user"></span> {{squeak['poster']}}</h3>
							<p>{{squeak['text']}}</p>
							<small>
								{{squeak['favs']}} <span class="glyphicon glyphicon-star"></span>
								<em>at {{squeak['timestamp']}}</em>
							</small>
						</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- <div class="container text-center">
		<button class="btn btn-info">Load More</button>
	</div> -->

{% endblock %}